hr{
    width: 10%;
border-style: dotted none none;   
border-width: 18px;
border-color:#EAF6F6; 
margin-top:40px;  }
body{
  text-align: center;
  margin: 0%; 
  font-family: 'Merriweather', serif; 
}
.img1{
    border-radius: 100%;
    width:35%;
    float: left;
    margin: 30px;

}
.img2{
    border-radius: 100%;
    width:25%;
    float: right;
    margin: 25px;

}
.mountain{
    height:80%;
}
h1{
    padding-top: 120px;
    font-size: 562%;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
    line-height: 1;
    
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}
h2{
    font-size: 2.5rem;
    color:#66BFBF;
    font-weight: normal;
    padding: 20px;
}
.toppart{
    background-color: #E4F9F5;
    padding: 100px;
}
h1:hover{
    color: hotpink;
}
.middle-container{
    text-align: center;
    margin-bottom: 10px;
}
.bottom-container{
    background-color: #66BFBF;
    padding: 40px;
    margin: 20px 0 0 0;
}
.bottomcloud{
    position:absolute;
    right:70%;
    height: 20%;
}
.topcloud{
    position:absolute;
    left:80%;
    height: 20%;
}
h3{
   color: #11999E;
}
a{
    color:#180dad;
    margin: 10px 20px;
}
p{
    line-height: 2;
    
}
.contact-me{
    height: 60%;
}
.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999a);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999a);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999a);
    background-image: -o-linear-gradient(top, #11cdd4, #11999a);
    background-image: linear-gradient(to bottom, #11cdd4, #11999a);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin:20px auto 20px auto;
  }
  
  .btn:hover {
    background: #30a3cb;
    background-image: -webkit-linear-gradient(top, #30a3cb, #2bc4ab);
    background-image: -moz-linear-gradient(top, #30a3cb, #2bc4ab);
    background-image: -ms-linear-gradient(top, #30a3cb, #2bc4ab);
    background-image: -o-linear-gradient(top, #30a3cb, #2bc4ab);
    background-image: linear-gradient(to bottom, #30a3cb, #2bc4ab);
    text-decoration: none;
  }
  a:hover{
      color:white;
  }